<!DOCTYPE html>
<html>
<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    
    <header class="jumbotron jumbotron-fluid custom-jumbotron">
        <div class="container text-center">
            <h1>Teacher Dashboard</h1>
    </header>

    <section>
        <button type="button" class="btn custom-btn" id="add-event">Add a Lesson Plan</button>
        <button type="button" class="btn custom-btn" id="view-calendar">View All Plans</button>
    </section>

    <main class="container-fluid display-none" id="event-form-div">
        <form id="project-form">
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" min='1' id="title" class="form-control"
                    placeholder="What is the name of the event?" required />
            </div>
            <div class="form-group">
                <label for="description">Plan</label>
                <input type="text" min='1' id="description" class="form-control"
                    placeholder="Add a little description" required />
            </div>
            <div class="form-group">
                <label for="start-date-input">Start</label>
                <input type="text" min='1' id="start-date-input" class="form-control"
                    placeholder="When is the start date?" required />
            </div>
            <div class="form-group">
                <label for="end-date-input">End</label>
                <input type="text" min='1' id="end-date-input" class="form-control"
                    placeholder="When is the end date?" required />
            </div>
            <div>
                <button type="submit" class="btn custom-btn">Submit Project Info</button>
            </div>
        </form>
    </main>

    <section class="display-none" id="calendar-div">
        <ul id="calendar"></ul>
    </section>

    <section class="" id="preview-calendar-div">
        <h3>Events Preview</h3>
        <ul id="preview-calendar"></ul>
    </section>

    <div>
        <button type="button" class="btn custom-btn display-none" id="back-button">Go Back</button>
    </div>
</div>
</div>
{{/each}}
</html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="../public/js/calendar.js"></script>
