<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Plan your Standards Based Curriculum:</h3>

    <form class="form new-standardLesson-form">
      <div class="form-group">
        <label for="lesson-name">Lesson Name:</label>
        <input class="form-input" type="text" id="lesson-name" name="lesson-name" />
      </div>
      <div class="form-group">
        <label for="objective-info">Objective:</label>
        <input class="form-input" type="text" id="objective-info" name="objective-info" />
      </div>
      <div class="dropdownMenus">
        <label for="select-standard">Select Standard:</label>
        <input class="form-input" type="number" id="standard-dropdown" name="standard-dropdown" />
      </div>
      <div class="form-group">
        <label for="resources-materials">Resources and Materials extra:</label>
        <input class="form-input" type="text" id="resource-name" name="resource-name" />
      </div>
      <div class="form-group">
        <label for="lesson-prep">Lesson Preparation:</label>
        <input class="form-input" type="text" id="lesson-prep" name="lesson-prep" />
      </div>
      <div class="form-group">
        <label for="lesson-outline">Lesson Outline:</label>
        <textarea class="form-input" id="lesson-outline" name="lesson-outline"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if standards.length}}
  <div class="col-md-6 standardLesson-list">
    <h3>Current Lessons:</h3>

    {{#each standards as |standard|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/standard/{{standard.id}}">{{standard.standard}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{standard.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="../public/js/standard.js"></script>
