<!DOCTYPE html>
<html>
<head>
        <link href="https://fonts.googleapis.com/css?family=Italiana&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet" />
        <!--<link href="./css/main.css" rel="stylesheet" />-->
        <title>CorePlanner</title>
    </head>
    <body>
        <div class="background">
            <div class="container">
              <div class="col-sm"></div>
              <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="plansbtn"></div>
                    <div class="standardsbtn"></div>
                    <a class="classes" href="/calendar">Upcoming Lesson Plans</a>
                    <a class="standards" href="/standards">Full Standards List</a>
                    <h2 class="greeting">Hello, {{name}}!</h2>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
        </div>
    </body>
</html>
<style>
$background-color: rgba(229,248,255,1)
$header-color: rgba(7,31,116,1)
$compliment-color: rgba(82,154,177,1)
$font-stack: Didot, serif

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: rgba(229,248,255,1);
}
.background {
  width: 100%;
  height: 1024px;
  background: rgba(229,248,255,1);
  opacity: 1;
  position: flex;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.container {
  width: 1000px;
  height: 761px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: flex;
  top: 125px;
  /*left: 100px;*/
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
/*.v17_76 {
  width: 100%;
  height: 250px;
  background: url("../images/v17_76.png");
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 5px;
  border: 15px solid rgba(7,43,171,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v17_77 {
  width: 100%;
  height: 226px;
  background: url("../images/v17_77.png");
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 6px;
  border: 10px solid rgba(82,154,177,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}*/
.calendar {
  width: 543px;
  height: 543px;
  background:rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 722px;
  border-radius: 10px;
  overflow: hidden;
}
.row{
  text-align: center;
}
.plansbtn {
  width: 464px;
  height: 113px;
  background: rgba(82,154,177,1);
  opacity: 1;
  position: flex;
  top: 125px;
  /*left: 268px;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.standardsbtn{
  width: 464px;
  height: 113px;
  background: rgba(82,154,177,1);
  opacity: 1;
  position: flex;
  top: 250px;
  /*left: 268px;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.classes {
  width: 368px;
  color: rgba(0,0,0,1);
  position: flex;
  top: 155px;
  /*left: 316px;*/
  font-family: Italiana;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.standards {
  width: 368px;
  color: rgba(0,0,0,1);
  position: flex;
  top: 280px;
  /*left: 316px;*/
  font-family: Italiana;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.greeting {
  width: 470px;
  color: rgba(0,0,0,1);
  position: flex;
  top: 50px;
  /*left: 265px;*/
  font-family: Italiana;
  font-weight: Regular;
  font-size: 65px;
  opacity: 1;
  text-align: center;
}

.class-list h3 {
  width: 470px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 175px;
  right: 217px
  font-family: Italiana;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.class-list {
  width: 470px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  right: 217px;
  font-family: Italiana;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="./js/calendar.js"></script>