<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Italiana&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet" />
       <!--<link href="./css/main.css" rel="stylesheet" />-->
        <title>CorePlanner</title>
    </head>
    <body>
        <div class="background">
  
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">{{class.name}}</h2>
                        <p class="standards">{{class.standards}}<p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    * {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.background {
  width: 100%;
  height: 1024px;
  background: rgba(229,248,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
/*.v17_76 {
  width: 100%;
  height: 250px;
  background: url("../images/v17_76.png");
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 5px;
  border: 15px solid rgba(7,43,171,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v17_77 {
  width: 100%;
  height: 226px;
  background: url("../images/v17_77.png");
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 6px;
  border: 10px solid rgba(82,154,177,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}*/
.container {
  width: 1300px;
  height: 761px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  /*left: 100px;*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  text-align: center;
}
.title {
  width: 785px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 250px;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 65px;
  opacity: 1;
  text-align: center;
  display: inline block;
}
.standards {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1905px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>