<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Italiana&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet" />
  {{!-- <link href="./css/main.css" rel="stylesheet" /> --}}
  <title>CorePlanner</title>
</head>

<body>
  <p class="display-none" id="super-secret">{{id}}</p>
  <div class="v19_122 form-group container-fluid form-control">
    <form id="project-form">
      <div class="form-group">
        <label for="grade-select">Select Grade</label>
        <select class="form-control custom-select" id="grade-select">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
      </div>
      <div class="form-group">
        <label for="class-select">Select Class</label>
        <select class="form-control custom-select" id="class-select">
          <option>Math</option>
          <option>English</option>
          <option>Science</option>
        </select>
      </div>
      <div class="form-group">
        <label for="standard-area">Standards Associated with Class</label>
        <textarea class="form-control" id="standard-area" rows="3" readonly></textarea>
      </div>
  </div>
  <div>
    <button type="submit" class="btn custom-btn form-group row" id="add-class">Add Class </button>
  </div>
  </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <!-- Optional JavaScript -->
  {{!--
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="./js/standard.js"></script>

</body>

</html>

<style>
$background-color: rgba(229,248,255,1)
$header-color: rgba(7,31,116,1)
$compliment-color: rgba(82,154,177,1)
$font-stack: Didot, serif

    * {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: rgba(229,248,255,1);
}
.background {
  width: 100%;
  height: 1024px;
  background: rgba(229,248,255,1);
  opacity: 1;
  position: flex;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
/*.v17_76 {
  width: 100%;
  height: 250px;
  background: url("../images/v17_76.png");
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 5px;
  border: 15px solid rgba(7,43,171,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v17_77 {
  width: 100%;
  height: 226px;
  background: url("../images/v17_77.png");
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 6px;
  border: 10px solid rgba(82,154,177,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}*/

.container {
  width: 1300px;
  height: 761px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: flex;
  top: 125px;
  /*left: 100px;*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  text-align: center;
}
.title {
  width: 785px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 250px;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 65px;
  opacity: 1;
  text-align: center;
  display: inline block;
}
.standards {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1905px;
  font-family: Jost;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
  .standards {
    width: 100%;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1905px;
    font-family: Jost;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>