header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.header {
  width: 100%;
  height: 121px;
  background: rgba(7,31,116,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  font-family: Italiana;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #789cca;
  text-decoration: underline;
}

.h1 {
  width: 374px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 523px;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}

.a {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
}
